.slider img {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    height: 255px;
    width: 255px;
}

.slider {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    color: white !important;
    max-width: 255px;
}

.slider__title {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 18px;
    font-weight: bold !important;
}

.slider__inner {
    text-align: center;
    font-size: 14px;
    font-weight: bolder !important;
    margin-bottom: 24px;
}

.slider__indicators {
    display: flex !important;
    justify-content: center;
}

.slider__indicators .one,
.two,
.tree,
.four {
    background-color: #696969;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0px 12px 0px 0px;
}

.slider__indicators .active {
    background-color: #D9D9D9;
}

.slider__btn{
    margin-top: 24px;
    margin-bottom: 50px;
}

.vkui>body{
    background-color: #0a0a0a;
}